@import './variables';

section.container_100{
    border-bottom: 1px solid $accent-color;
    padding-top: 8rem;
    @include  flexCenter(column);
    margin: 0 auto;
    width: 90%;
    
}

.head-100{
    @include  flexCenter(row);
    margin-bottom: 2rem;
    line-height: 1.5;
    width: 90%;
    
    
    }
    
    h1.conquer100{
        
        font-weight: weight(medium);
        font-size: 10rem;
    }
    h1.trade100{
        margin-left: 3.75rem;
        font-weight: weight(regular);
        font-size: 4rem;
        line-height: 0.7;
        
       
    
    }
    
    p,.parag100{
        margin: 0 auto;
        width: 30%;
        line-height: 2;
        margin-bottom: 5rem;
        padding: 0.5rem;
        color: $accent-color;
        font-size: 1rem;
        
    
    }
    
    .bottom-100{
         display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 3rem;
    }
    
    section h3{
        font-size: 1.3rem;
        font-weight: weight(regular);
        
    }
    
    section button {
        background-color: $primary-color;
        color: $text-color;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 1.5rem;
        font-size: 1rem;
        
        
    }
    
    a{
        text-decoration: none;
        color: $text-color;
    }
    


    @media only screen and (max-width:959px){
        .head-100{
            @include  flexCenter(column);
            margin-bottom: 2rem;
            margin-top: 5rem;
            line-height: 1.5;
             
    }
    
    h1.conquer100{
        
        font-weight: weight(medium);
        font-size: 7rem;
        margin-top: -2rem;
    }
    h1.trade100{
        margin-left: 0;
        font-weight: weight(regular);
        font-size: 4rem;
        line-height: 0;
       
    
    }
    
    p,.parag100{
        margin: 0 auto;
        width: 50%;
        line-height: 2;
        margin-bottom: 5rem;
        padding: 0.5rem;
        color: $accent-color;
        font-size: 1rem;
        
    
    }
    
    .bottom-100{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        margin-bottom: 3rem;
    }
    
    section h3{
        font-size: 1rem;
       white-space: nowrap;
        font-weight: weight(regular);
    
        
    }
    
    section button {
        background-color: $primary-color;
       
        padding: 0.5rem 1rem;
        font-size: 1rem;
        margin-top: -1.5rem;
        
    }
}


@media only screen and (max-width:559px){

    h1.conquer100{
    
       
        font-size: 5rem;
        
    }
    h1.trade100{
       
        font-weight: weight(regular);
        font-size: 2rem;
       
       
    
    }

    .parag100{
        width: 80%;
    }

    .bottom-100{
        
       column-gap: 1rem;
    }

    

    section h3{
        font-size: 1rem;
       white-space: wrap;
        font-weight: weight(regular);
    
        
    }

    
}